#upload-div
{
    margin-left: 4vw;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#user-button, #upload-button
{
    font-size: 18px;
    font-weight: 500;
}

input[name="upload"]
{
    width: 1px;
    visibility: hidden;
}

#popup-upload
{
    display: none;
    margin: 10vh 0 auto 0; 
    flex: row;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

#edit-close
{
    float: right;
}

input[name="title"]
{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

#edit-desc
{
    margin-bottom: 10px;
}

textarea[name="description"]
{
    resize: none;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#edit-tags
{
    margin-bottom: 10px;
}

input[name="tags"]
{
    padding: 5px;
    border-radius: 5px;
    color: #9E9E9E;
    border-width: 0;
}

input[name="tags"]:hover
{
    background-color: #F5F5F5;
}

#edit-upload-button
{
    width: 100%;
    font-size: 18px;
    background-color: #DCEDC8;
    transition-duration: 100ms;
}

#edit-upload-button:hover
{
    background-color: #AED581;
}

#menu-user
{
	margin-top: -15px;
    display: none;
    float: right;
    left: 78.5vw;
    background-color: white;
    border-radius: 5px;
    width: 10vw;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 2px #F5F5F5;
    padding: 10px;
    z-index: 1;
    position: absolute;
    transition-duration: 100ms;
}

#menu-user:hover
{
    background-color: #F5F5F5;
}

#user-logout
{
    font-size: 18px;
    font-weight: 500;
}

#popup-confirm
{
    margin-top: 45vh;
    display: none;
    margin-bottom: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
}

#confirm-dialog
{
    font-size: 32px;
    color: #212121;
}